VITE_FIREBASE_API_KEY=tu_key
VITE_FIREBASE_AUTH_DOMAIN=tu_proyecto.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tu_proyecto
VITE_FIREBASE_STORAGE_BUCKET=tu_proyecto.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=ID_mensajeria
VITE_FIREBASE_APP_ID=ID_app_id
VITE_FIREBASE_MEASUREMENT_ID=ID_measurement
