FIREBASE_SERVICE_ACCOUNT_KEY = {Tu_account_key_de_firebase}

CLOUDINARY_CLOUD_NAME=tu_nombre_de_la_nube
CLOUDINARY_API_KEY=tu_key_cloudinary
CLOUDINARY_API_SECRET=tu_key_secreta_cloudinary

STRIPE_SECRET_KEY=tu_key_de_stripe
STRIPE_WEBHOOK_SECRET=tu_webhook_de_stripe
CLIENT_URL=http://localhost:5500 #Se mantiene intacto
PORT=4242 #Se mantiene intacto

HF_TOKEN=tu_hf_token #hugging face